-# frozen_string_literal: true
%h2= "#{@channel.name(current_user)} (#{pluralize(@channel.messages_count, "message")})"

= render "channels/paginator"
.row
  .col-xs-12
    - if @messages.empty?
      There are no messages.
    %table.table.table-striped
      - @messages.each do |message|
        = render "application/message_tr", message: message, user: message.user, channel: @channel
= render "channels/paginator"
