-# frozen_string_literal: true
%tr{id: dom_id(message)}
  %td.username
    %img{src: user.avatar, class: "user-avatar"}
    - if defined?(link_to_channel) && link_to_channel
      = link_to user.name, channel_path(channel, page: message.page_in_channel, highlight_id: message.id)
    - else
      = user.name
  %td
    - if defined?(show_channel_info) && show_channel_info
      = link_to "In: #{channel.name(current_user)}", channel_path(channel)
    %p.message-text= emojify(MessageFormatter.new(message.text).format)
    %span.dt= message.ts.strftime("%d %b %Y %H:%M")
    - message.reactions.each do |reaction|
      .reaction{data: { toggle: "tooltip", placement: "top", title: reaction.users.map(&:name).join(", ") }}
        = emojify(":#{reaction.name}:")
        = reaction.users_count
