%nav.navbar.navbar-default.navbar-fixed-top
  .container
    = link_to "Slack Backup", root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Members", team_path
        %li= link_to "Channels", channels_path
        - if user_signed_in?
          %li= link_to "Logout", destroy_user_session_path, method: :delete

      .col-sm-3.col-md-3
        %form{action: search_path, method: :get, role: "search", class: "navbar-form"}
          .input-group
            - if @channel
              = hidden_field_tag :channel_id, @channel.id
            = text_field_tag :q, params[:q], class: "form-control", placeholder: "Search"
            .input-group-btn
              = button_tag name: nil, class: "btn btn-default" do
                %i.glyphicon.glyphicon-search

